DATABASE_URL="postgresql://user:password@host/database?sslmode=require"
AI_GATEWAY_API_KEY="vck_..."
AUTH_SECRET="generate-with-openssl-rand-base64-32"
AUTH_URL="http://localhost:3000/timer_logs/api/auth"
AUTH_MICROSOFT_ENTRA_ID_ID="microsoft-app-client-id"
AUTH_MICROSOFT_ENTRA_ID_SECRET="microsoft-app-client-secret"
AUTH_MICROSOFT_ENTRA_ID_ISSUER="https://login.microsoftonline.com/your-tenant-id/v2.0"
